---
---
@import "{{ site.theme }}";

@font-face {
    font-family: jinkaiFont;
    src: url("../fonts/jinkai.ttf") format("TrueType");
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: jinkaiFont;
    font-size: 20px;
    line-height: 1.4;
}

body .wrapper {
    width: 60%;
}

body section {
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
}

nav {
    width: 20%;
    position: fixed;
    top: 220px;
    left: 50%;
    margin-left: -52%;
    text-align: right;
}

@media screen and (max-width: 1000px) {
    body .wrapper {
        width: 90%;
    }

}

@media screen and (max-width: 600px) {
    body .wrapper {
        flex: 1;
        overflow-y: scroll;
    }
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

#main_content {
    line-height: 28px;
    font-size: 20px;
}

#banner {
    display: none;
}

footer {
    display: none;
}

nav {
    overflow: auto;
    height: 100%;
}

h2 {
    padding-bottom: 10px;
    padding-top: 10px;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 10px;
    margin-bottom: 5px;
}

p, ul, ol, table, pre, dl {
    margin: 0 0 0.8em;
}

p {
    margin-block-start: 0;
    margin-block-end: 1em;
}

pre code span {
   line-height: 1;
}
